<!DOCTYPE html>
<html lang="zh-TW">
  <%- include('partials/head', { title: '註冊 - 我的網站' }) %>
  <body>
    <%- include('partials/menuBar', { title: '註冊 - 我的網站' }) %>
    <div id="app" class="login-container">
      <div class="container">
        <h2>註冊</h2>
        <form @submit.prevent="register">
          <div class="mb-3">
            <label for="email" class="form-label">電子郵件地址</label>
            <input type="email" v-model="email" class="form-control" id="email" required />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">密碼</label>
            <input type="password" v-model="password" class="form-control" id="password" required />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">名稱</label>
            <input type="text" v-model="name" class="form-control" id="name" required />
          </div>
          <button type="submit" class="btn btn-primary">註冊</button>
        </form>
      </div>
    </div>
    <script type="module" src="/script/custom/register.js"></script>
  </body>
</html>
